Exercise 1: Create a Jupyter Notebook
Create a new Jupyter notebook called DataScienceEcosystem.ipynb

Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
<h1>Data Science Tools and Ecosystem</h1>

Exercise 3 - Create a markdown cell for an introduction. (1 pt)
<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

1. Java 
2. Python
3. R 
4. SQL
5. Julia
6. Scala
7. Javascript

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

1. NumPy
2. SciPy
3. Pandas
4. PyTorch
5. PyBrain
6. Bob
7. ELI5
8. NuPic
9. Caffe2
10. Matplotlib

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
<H1> Data Science tools </H1> 

| # | Data Science Tool |  |
| :- | -: | :-: |
| 1 | SAS | 
| 2 | Apache Spark |
| 3 | Tableau |
| 4 | BigML |
| 5 | Jupyter|
| 6 | Matplotlib|
| 7 | ggplot2|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
<H1> Examples of Arithmetic using python </H1>

In [10]:
# Arithmetic operations
code = compile("100 + 11", "<string>", "eval")
eval(code)
# Result: 111

111

In [11]:
codeX = compile("(4 + 5) * 2", "<string>", "eval")
eval(codeX)
# Result: 18

18

In [12]:
import math
# Volume of a sphere
codeY = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(codeY)
# Result: 65449.84694978735

65449.84694978735

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [13]:
(3*4)+5
# Result: 17

314

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

This will convert 200 minutes to hours by dividing by 60

In [15]:
days = 0
hours = 0
mins = 0

time = 400
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 6.666666666666667 hours

0 days, 6.666666666666667 hours, 0 mins.

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

**Objectives:**


List popular languages for Data Science
*  Python
*  R
*  Julia
*  Scala
*  Matlab

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

<H1> Author: </H1>

James Kishtok

Exercise 12 - Share your notebook through GitHub (3 pts)

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)